:root {
    --main-orange: hsl(26, 100%, 55%);
    --main-pale-orange: hsl(26, 100%, 55%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --main-font-size: 1.5rem;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
}

.img-responsive{
    max-width: 100%;
}
.container{
  margin: auto;
  width: 1300px;

}
.header{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 4rem 0;
    border-bottom: 1px solid var(--grayish-blue);
}

.group-header{
    display: flex;
    justify-content: space-between;
}

.nav .nav__list{
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin-left: 1rem;
}  

.nav__list li{
    display: inline-block;
    transition: 0.5s;
}

.nav__list li:hover{
    color:var(--main-pale-orange);
}

.header__cart-icon{
    align-self: center;
    cursor: pointer;
    position: relative;
}

.header__cart-icon span{
    font-size: 11px;
    padding: 3px 6px;
    color: var(--light-grayish-blue);
    background-color: var(--main-pale-orange);
    border-radius: 10rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    display: none;
   
}

.header__user-avatar{
    width: 4rem;
    height: 4rem;
    margin-left: 2rem;
}
.header__user-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
/* cart */

.header-cart{
    width: 26rem;
    height: 18rem;
    position: absolute;
    right: 0;
    bottom: -150%;
    z-index: 9999;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    padding-bottom: 2.7rem;
    transition: all 0.2s ease-in-out;
}
/* mostrar e esconder carrinho de compras */
.mostrar{
    display: block;
}

.esconder{
    display: none;
}

.cart-heading{
    font-size: 1.5rem;
    color: var(--very-dark-blue);
     padding: 1rem 1rem; 
    border-bottom: 1px solid var(--grayish-blue);
    font-weight: 700;
}

.cart-product{
    padding: 2.4rem;
    display: flex;
    align-items: center;
    position: relative;
}

.cart-img{
    width: 5rem;
    height: 5rem;
    border-radius: 5px;
    margin-right: 1.6rem;
}
.cart-content h3{
    color: var(--dark-grayish-blue);
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 1.2rem;
    display: flex;
}
.empty-cart{
    top: 100%;
    left: 50%;
    position: absolute;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--dark-grayish-blue);
    transform: translate(-50%,-50%);
   
}
.content-price{
    display: flex;
    color: var(--dark-grayish-blue);
    font-size: 1.3rem;
    justify-content: space-around;
}
.content-price span{
    font-weight: 700;
}
.btn-delete{
    align-self: flex-start;
}

.btn-delete:hover{
    cursor: pointer;
   
}
.cart-btn{
    border: none;
    background-color: var(--main-orange);
    color: var(--light-grayish-blue);
    width: calc(100% - 4.8rem);;
    display: block;
    margin: 0 auto;
    font-size: 1.55em;
    padding: 0.6em 0;
    border-radius: 10px;
    font-weight: 400;
    display: none;
}

.cart-btn:hover{
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(255, 125, 26, 0.25);
    opacity: 0.5;
}


/* principal */

main{
    padding: 9rem 0;
   
}
/* section produto */
.container-product{
    display: flex;
    align-items: center;
}

.product-gallery{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 4.9rem;
    flex-basis: 50%;
}

.product-photo{
    cursor: pointer;
    max-width: 45rem;
    border-radius: 12px;
}

.product-photo img{
    border-radius:12px ;

}
.product-thumbnail{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    margin-top: 3rem;
}

.product-thumbnail img{
    border-radius: 12px;
}

.thumbnail:hover{
    transform: translateY(-2px);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    opacity: 0.5;
    cursor: pointer;

}

/* section descrição */


.section-description{
    flex-basis: 60%;
    padding: 0 4.9rem 0 7.5rem;
    align-self: flex-start;
    padding-top: 2rem;
}

.company-name {
    color: var(--main-pale-orange);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 2.4rem;
    display: block;
    line-height: 1;
}

.description-title{
    font-size: 2.8rem;
    color: var(--very-dark-blue);
    margin: 0;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2.4rem;
}

.description-product{
    color: var(--dark-grayish-blue);
    line-height: 1.4;
    margin-bottom: 2.4rem;
}

.product-price{
    display: flex;
    align-items: center;
    margin-bottom: 2.4rem;
    flex-wrap: wrap;
}

.new-price{
    font-size: 2rem;
    color: var(--very-dark-blue);
    font-weight: 700;
    margin-right: 1rem;
}

.price-percent{
    color: var(--main-orange);
    padding: 0.5rem 0.75rem;
    font-size: var(--main-font-size);
    background-color: rgba(255, 125, 26, 0.2);
    border-radius: 1rem;
    font-weight: 700;
}

.old-price{
    color: var(--grayish-blue);
    font-size: var(--main-font-size);
    font-weight: 700;
    text-decoration: line-through;
    margin-left: auto;
    flex-basis: 100%;
    margin-top: 1rem;
}

.product-button{
    display: flex;
}

.product-quantity{
    margin-right: 2.2rem;
    display: flex;
    flex-basis: 30%;
    align-items: center;
    position: relative;
}

.quantity-number{
    width: 100%;
    background-color: var(--light-grayish-blue);
    border-radius: 1rem;
    border: none;
    padding: 1.5rem;
    font-size: var(--main-font-size);
    text-align: center;
    color: var(--very-dark-blue);
    height: 5.6rem;
    
}
.button-minus{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(-50%,-50%);
}
/* esconde o contador do input number */
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.button-plus{
    cursor: pointer;
    position: absolute;
    top: 50%;
    right:9px;
    transform: translate(-50%,-50%);
    
}

.button-addcart{
    width: 100%;
    background-color: var(--main-orange);
    border-radius: 1rem;
    height: 5.6rem;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: var(--main-font-size);
    border: none;
    box-shadow: 0 10px 25px rgba(255, 125, 26, 0.35);
    cursor: pointer;
}

.button-addcart:hover{
    transform: translateY(-1px);
    box-shadow: 0 10px 25px rgba(255, 125, 26, 0.35);
    opacity: 0.5;
    -webkit-transform: translateY(-5px);
}

.button-addcart img{
    color: #fff;
    transform: scale(0.7);
    
}

.cart-white{
    fill: white;
}

.footer{
    padding: 2rem 0;
    text-align: center;
    font-size: 1rem;
    color:  var(--main-pale-orange);
    font-weight: 700;
}